.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  min-height: 400px;
}
.dashboard-grid {
  
 

}
.chart-block{
  width: 98%;
  height: 98%;
  border: 2px solid rgb(66, 161, 133);
  border-radius: 5px;
}
.chart{
  margin: auto;
  width: 80%;
  border: 2px solid rgb(168, 236, 216);
   
}
.chartP{
  padding-top: 20%;
  margin: auto;
  width: 100%;
   
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
 
}
