.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 210px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.right{
  position: absolute;
  right: 0px;
  margin: 0;
}
.dashboard{
  height: 170px;
}
.barnav{
  height: 80px;
}