<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="dashboard" color="primary">E-CRAFT-SENEGAL 
     
    </mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/admin">Administration</a>
      <a mat-list-item routerLink="/comptable">comptabilite</a>
      <a mat-list-item routerLink="/chambre">chambre des metier</a>
      <a mat-list-item routerLink="/paiements">Paiements</a>
      <a mat-list-item routerLink="/departements">departements</a>
      <a mat-list-item routerLink="/artisans">Artisan</a>
      <a mat-list-item routerLink="/demandes">demandes</a>
      <a mat-list-item routerLink="/traitement-demande">traitement</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="barnav" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>e-craft-material</span>
     <div class="right">
       <button mat-button>Settings</button>
       <button mat-button>Help</button>
     </div>
     
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
