/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal-header{
    margin: 0px;
    background-color: rgb(51, 121, 63);
    color: white;
    align-content: center;
}

.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:200px;
    height:200px;
}
.dialog-header{
    width:100%;
    background-color: rgb(66, 161, 133);
 }
.test{
}

.warning{
    color: rgb(255, 166, 0);
}
.danger{
    color: red;
}