.colo{
    color: white;
    background-color: rgb(66, 161, 133);
  }
  .col{
    color: rgb(14, 11, 11);
    background-color: rgb(215, 241, 121);
  }
  
  .mat-form-field{
    margin-left: 10px;
    margin-right: 10px;
  }
  .top{
    margin-top: 20px;
    width:30%;
  }
  .right{
    margin-left: 2.55%;
  }

  .mat-row.hovered {
    background: #eee;
  }
  
  .mat-row.selected {
    background: #999;
  }

  .bat{
    margin-left:40%; 
  }